
@import "./variables";

header{
    background-color: #EEFFF9;
}

nav{
    ul{
        
        margin-right: 140px;
        li{
            
            font-size: 16px;
            font-weight: 400;
            font-family: "Lato", sans-serif;
            list-style: none;
            margin-right: 45px;
        }
       
    }
    .nav_btn{
        @include btn(#04AA6D, white, 10px 20px, 4px);
    }
}